html {
    height: 100%
}



* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
}

img {
    display: block;
    margin-top: 130px;
    margin-left: 90px;
}

body {
    height: 100%;
    font-family: 'Arsenal';
    /*            display: flex;*/
    background-color: whitesmoke;
}

nav {
    background: whitesmoke;
    line-height: 80px;
    width: 100%
}

label.logo {
    color: #783D47;
    font-size: 35px;
    line-height: 80px;
    padding: 0 30px;
    font-weight: bold;
    font-family: 'Arsenal';
    text-transform: uppercase;
}


nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}


nav ul li a {
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    color: #783D47;
}

.checkbtn {
    font-size: 30px;
    color: whitesmoke;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }


    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: aqua;
    }

    #check:checked ~ ul {
        left: 0;
    }

}

/*
        section{
            background: url
            background-size: cover;
            height: cals (100vh -80p)
        }
*/

.logo img {
    width: 30px;
    margin-top: -7px;
    margin-right: 48px;
}

.banner {
    width: 80%;
    height: 70%;
    top: 40px;
    left: 15%;
    font-family: 'Arsenal';
    position: absolute;
    color: #783D47
}

.aboutme {
    width: 39%;
    margin-top: 400px;
    margin-left: 625px;
    /*    border-radius: 10px;*/
    /*    justify-content: right;*/
    float: left;
    display: block;
    line-height: 30px;
    position: absolute;


    /*        position: relative;*/


}

.app-text {
    /*            width: 50%;*/
    float: left;
}

app-text h1 {
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 38px;
}



div {
    flex-direction: column;
    display: flex;
    margin-top: 40px;
    /*            justify-content: center;*/
    /*            text-align: center;*/
    /*            align-items: center;*/


}

a {
    font-family: 'Arsenal';
    text-transform: uppercase;
    font-size: 20px;
    color: black;
    list-style-type: none;
    position: relative;
    display: in-line block;
    text-decoration: none;
    letter-spacing: 2px;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;
    color: #F69E92;
    font-size: 85px;
    list-style-type: none;
    position: relative;
    margin-bottom: -16px;
}


h2 {
    font-family: 'Archivo Black', sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 85px;
}


h3 {
    font-family: 'Arsenal';
    text-transform: uppercase;
    font-size: 20px;
    /*    color: #783D47;*/
    color: black;
    letter-spacing: 2px;
    /*    text-align: right;*/
    align-items: right;
    /*    justify-content: right;*/
    height: 10px;
    position: absolute;
    display: block;
    /*
    margin-right: 38px;
    margin-top: 200px;
*/
}


/*animating line


.pop {
    position: relative;
    color: black;
    height: 3px;
    width: 100%;
    background-color: black;
    margin-top: 20px;

}

.pop::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    bottom: -3px;
    left: 0;
    background-color: black;
    visibility: hidden;
    transition: all .3s ease-in;
    transform: scaleX(0);
}

.pop:hover:before {
    visibility: visible;
    transform: scaleX(1);
}



/*
.zoom {
  padding: 50px;
  transition: transform .2s;  Animation 
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom {
  transform: scale(60);
    transition-duration: 8s;
     animation-timing-function: ease-in-out;
    font-style: italic;
    color: #CCAD47;
    animation-direction: alternate-reverse;
      animation-iteration-count: infinite;

}
*/


/*animating line*/


.animated {
    animation: fadeAndScale .3s ease-in;
    transform-origin: center bottom;
}

@keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: scale3d(.75, .75, 1);

    }

    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}


.animatedagain {
    animation: moveAndScale .3s ease-in;
    transform-origin: center bottom;
}

@keyframes moveAndScale {
    from {
        opacity: 0;
        transform: scale3d(1, 1, 1);

    }

    to {
        opacity: 1;
        transform: scale3d(.3, .3, 1);
    }
}
