/*

html {
       height: 100%
   }

   body {
       height: 100%;
       background-color: #404040;
   }
*/


body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 3000px;
    min-height: 100vh;
    background: linear-gradient(180deg, #252526 0%, #404040 51%, #2B2B40 85%);
}

ul {
    margin-top: 20px;
    margin-left: 5px;
    padding: 0;
    display: flex;
}

ul li {
    position: relative;
    list-style: none;
    width: 18px;
    height: 18px;
    background: #b56728;
    margin: 0 10px;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
     transition: all .2 ease-in-out;
    animation-duration: 1s;
    animation-name: pulse;
    animation-direction: alternate-reverse;
    animation-iteration-count: 2.9;
}

@keyframes pulse {
    from {
        transform: scale(1);

    }

    to {
        transform: scale(2);
    }
}


ul li:hover {
    background: #3B3B3B;
    box-shadow: 0 0 0 4px #A69D8D,
        0 0 0 6px #3B3B3B;
}

ul li .content {
    position: absolute;
    bottom: 0;
    width: 200px;
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    /*    top: -300px;*/
    bottom: -300px;
    z-index: 1;
}

ul li:hover .content {
    visibility: visible;
    opacity: 1;
}

h1 {
    color: #2B2B40;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    margin-top: 10px;
    font-weight: 100;
}

h2 {
    color: #3B3B3B;
    font-size: 150px;
    /*    text-transform: uppercase;*/
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    margin-top: 20px;
    font-weight: 400px;
    position: fixed;
    margin-left: 20px;
    bottom: 0px;

    /*
    text-align: right;
    align-content: right;
*/
}

h3{
    color: #A69D8D;
/*
    margin: 0;
    padding: 0;
*/
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 100;
    position: relative;
    top: 50%;
    bottom: 50%;
    opacity: 0;
}
    
.text:hover{
    opacity: 1;
}
    
 
/*
    align-content: center;
    justify-content: center;
    display: flex;
*/
/*    line-height: 100px;*/

/*transform: translateX(600px);*/
/*    margin-top: 800px;*/
}

p {
    color: #A69D8D;
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-weight: 100;

}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 4px;
box-sizing: border-box;

/*transition: 0.3s;*/

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/*
    bottom: 0;
    padding: 10px;
    opacity: 0;
        top: -300px;
    bottom: -300px;
*/
   



/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
  
}



span.period {
    color: #b56728;
}

/*
.dot {
    height: 10px;
    width: 10px;
    background-color: #A69D8D;
    border-radius: 50%;
    display: flex;
    margin-left: 14px;
    transition: all .2s ease-in-out;
}
*/

span.dot:hover {
    background-color: #b56728;
    transform: scale(1.5);
}

.filledin:hover {
    background-color: #b56728;
    transition: all .3s ease-in-out;
}

.filledin2:hover {
    background-color: #b56728;
    transition: all .3s ease-in-out;
}

.filledin3:hover {
    background-color: #b56728;
    transition: all .3s ease-in-out;
}

.filledin4:hover {
    background-color: #b56728;
    transition: all .3s ease-in-out;
}
.filledin5:hover {
    background-color: #b56728;
    transition: all .3s ease-in-out;
}
.filledin6:hover {
    background-color: #b56728;
    transition: all .3s ease-in-out;
}

.halfcircle:hover {
    /*    background-color: #b56728;*/
    border: 6px dotted #b56728;
    transition: all .3s ease-in-out;
}

.halfcircle2:hover {
    border: 6px dotted #b56728;
    transition: all .3s ease-in-out;

}

.halfcircle3:hover {
    /*    background-color: #b56728;*/
    border: 6px dotted #b56728;
    transition: all .3s ease-in-out;
}
.planet:hover {
    border: 8px solid #b56728;
    transition: all .3s ease-in-out;
}

.planet2:hover {
    border: 3px solid #b56728;
    transition: all .3s ease-in-out;
}

.planetsmall:hover {
    background-color: #b56728;
    border: none;
    transition: all .2s ease-in-out;
}

.container {
  position: relative;
  width: 50%;
}

.planet3:hover {
    border: 8px solid #b56728;
    transition: all .3s ease-in-out;
    background-color: #b56728;
    opacity: 90%;
}

.container:hover .planet3 {
    opacity: 1;}


.halfcircle {
    height: 900px;
    width: 900px;
    border-radius: 50%;
    border: 6px dotted #A69D8D;
    /*
    border-bottom-color: transparent;
    border-left-color: transparent;
*/
    transform: rotate(45deg);
    margin-left: -690px;
    margin-top: 90px;
    animation: rotation 25s infinite linear;
}

.halfcircle2 {
    height: 950px;
    width: 950px;
    border-radius: 50%;
    border: 6px dotted #A69D8D;
    transform: rotate(45deg);
/*    margin-left: -60px;*/
    margin-top: 1790px;
    transform: translate(500px);
z-index: 1;
    animation: rotation 25s infinite linear;
}

.halfcircle3 {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 6px dotted #A69D8D;
    transform: rotate(45deg);
    /*
    transform: translateX(190px);
    transform: translateY(660px);
*/
    margin-left: -1300px;
    margin-top: 1190px;
    animation: rotation 25s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.planet {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 8px solid #A69D8D;
    margin-top: 140px;
    margin-left: 30px;


}

.planet2 {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 3px solid #A69D8D;
    margin-top: 1330px;
    margin-left: -500px;
    z-index: 1;

}

.planet3 {
    height: 370px;
    width: 370px;
    border-radius: 50%;
    border: 8px solid #A69D8D;
    margin-top: 2040px;
    margin-left: -830px;
    z-index: 1;
}

.planet4 {
    height: 600px;
    width: 600px;
    border-radius: 50%;
    border: 6px solid #A69D8D;
    margin-top: 2030px;
/*    margin-left: -500px;*/
        transform: translate(500px);

}

.filledin {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #A69D8D;
    margin-top: 940px;
    margin-right: 160px;
    z-index: 1;

}

.filledin2 {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #A69D8D;
    margin-top: 40px;
    margin-left: -120px;

}

.filledin3 {
    height: 450px;
    width: 450px;
    border-radius: 50%;
    background-color: #A69D8D;
    margin-top: 700px;
    margin-right: -100px;

}


.filledin4 {
    height: 460px;
    width: 460px;
    border-radius: 50%;
    background-color: #A69D8D;
    margin-top: 1680px;
    margin-left: -750px;
}
.filledin5 {
    height: 240px;
    width: 240px;
    border-radius: 50%;
    background-color: #A69D8D;
    margin-top: 1490px;
transform: translate(780px);

}
.filledin6 {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background-color: #A69D8D;
    margin-top: 2490px;

transform: translate(210px);
}
.circleone {
    height: 20px;
    width: 20px;
    background-color: #3B3B3B;
    border-radius: 50%;
    transform: translateY(20);
    position: absolute;
    margin-top: 490px;
    margin-left: 300px;
    right: 140px;
    animation: shake 6s;
    animation-iteration-count: infinite;
}

.circletwo {
    height: 20px;
    width: 20px;
    background-color: #3B3B3B;
    border-radius: 50%;
    transform: translateY(20);
    position: absolute;
    margin-top: 320px;
    margin-right: 576px;
    right: 140px;
    animation: shake 6s;
    animation-iteration-count: infinite;
}

.circlethree {
    height: 20px;
    width: 20px;
    background-color: #3B3B3B;
    border-radius: 50%;
    transform: translateY(20);
    position: absolute;
    margin-top: 820px;
    margin-right: 900px;
    animation: shake 6s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

.circlefour {
    height: 20px;
    width: 20px;
    background-color: #3B3B3B;
    border-radius: 50%;
    transform: translateY(20);
    position: absolute;
    margin-top: 170px;
    right: 540px;
    animation: shake 6s;
    animation-iteration-count: infinite;
}

.circlefive {
    height: 20px;
    width: 20px;
    background-color: #3B3B3B;
    border-radius: 50%;
    transform: translateY(20);
    position: absolute;
    margin-top: 1490px;
    margin-left: 300px;
    right: 140px;
    animation: shake 6s;
    animation-iteration-count: infinite;
}

.circlesix {
    height: 20px;
    width: 20px;
    background-color: #3B3B3B;
    border-radius: 50%;
    transform: translateY(20);
    position: absolute;
    margin-top: 2490px;
    right: 1040px;
    animation: shake 6s;
    animation-iteration-count: infinite;
}

.circleseven {
    height: 20px;
    width: 20px;
    background-color: #3B3B3B;
    border-radius: 50%;
    transform: translateY(20);
    position: absolute;
    margin-top: 2890px;
    right: 140px;
    animation: shake 6s;
    animation-iteration-count: infinite;
}

.circleeight {
    height: 20px;
    width: 20px;
    background-color: #3B3B3B;
    border-radius: 50%;
    transform: translateY(20);
    position: absolute;
    margin-top: 1990px;
    right: 790px;
    animation: shake 6s;
    animation-iteration-count: infinite;
}

.circlenine {
    height: 20px;
    width: 20px;
    background-color: #3B3B3B;
    border-radius: 50%;
    transform: translateY(20);
    position: absolute;
    margin-top: 400px;
    right: 1040px;
    animation: shake 6s;
    animation-iteration-count: infinite;
}

.circleten {
    height: 20px;
    width: 20px;
    background-color: #3B3B3B;
    border-radius: 50%;
    transform: translateY(20);
    position: absolute;
    margin-top: 100px;
    left: 140px;
    animation: shake 6s;
    animation-iteration-count: infinite;
}

.circleeleven {
    height: 20px;
    width: 20px;
    background-color: #3B3B3B;
    border-radius: 50%;
    transform: translateY(20);
    position: absolute;
    margin-top: 1300px;
    left: 140px;
    animation: shake 6s;
    animation-iteration-count: infinite;
}

.circltwelve {
    height: 20px;
    width: 20px;
    background-color: #3B3B3B;
    border-radius: 50%;
    transform: translateY(20);
    position: absolute;
    margin-top: 1300px;
    left: 140px;
    animation: shake 6s;
    animation-iteration-count: infinite;
}


@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}
